
@{
    ViewBag.Title = "Agregar";
}

<h2>Agregar</h2>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css"/>

<hr/>

<form action="@Url.Action("Agregar")" method="post">
    <input type="text" name="Nombre" placeholder="Nombre de la película" class="form-control" />
    <br />
    <input type="text" name="Descripcion" placeholder="Descripción de la película" class="form-control" />
    <br />
    <input type="text" name="Imagen" placeholder="Dirección URL de la película" class="form-control" />
    <br />
    <input type="text" name="Genero" placeholder="Genero de la película" class="form-control" />
    <br />
    <input type="text" name="Director" placeholder="Director de la película" class="form-control" />
    <br />
    <input class="btn btn-success" type="submit" value="Agregar" />

</form>

<a href="@Url.Action("Index")">Cancelar</a>